.cost {
    @include tablet {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1040px;
    }

    &_title {
        font-size: 30px;
        font-weight: 600;
        margin: 0 0 12px;
        display: block;
        @include tablet {
            font-size: 34px;
            margin: 24px 0 0;
        }
    }
    &_value {
        display: block;
        color: $bright_color;
        font-size: 40px;
        font-weight: 600;
        margin: 0 0 22px;
        white-space: nowrap;
        @include tablet {
            font-size: 80px;
            margin: 0 10px;
        }
    }
    &_list {
        li {
            margin: 0 0 6px;
            @include tablet {
                font-size: 17px;
                margin-left: 70px;
            }

            &:first-child {
                color: $bright_color;
                
                &::before {
                    background: $bright_color;
                }
            }
        }
    }
    &_column {
        @include tablet {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0 0 0 40px;
        }
    }
}
