.logo {
    display: inline-block;
    width: 77px;
    height: 40px;
    overflow: hidden;
    @include tablet {
        width: 253px;
        height: 36px;
    }

    &_icon {
        max-width: none;
        width: 350%;
        @include tablet {
            width: 100%;
        }
    }
}
