.menu-toggle {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 0px;
    color: transparent;
    position: absolute;
    padding: 0;
    top: 10px;
    right: $layout_indent;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    @include desktop {
        display: none;
    }

    &_line {
        background: $bright_color;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        margin: 0 0 4px;
        transition: .2s ease transform;

        .menu-toggle:hover &,
        .menu-toggle.opened & {
            transform: scaleX(1);
        }
    }
}
