html {
    scroll-behavior: smooth
}

body {
    background: $bg_color;
    color: $color;
    font: #{$font-size__small} $font-family;
    padding: 0;
    @include tablet {
        font-size: $font-size;
    }
}

a {
    color: $color;
    text-decoration: none;
    transition: .2s ease-in-out color;

    &:hover,
    &.hover {
        outline: none;
    }
    &:active,
    &.active {
        outline: none;
    }
}

p {
    margin: 0 0 20px;
}

ul,
ol {
    padding: 0;

    li {
        padding: 0 0 0 20px;
        @include tablet {
            padding: 0 0 0 34px;
        }
    }
}

ul li {
    font-size: 16px;
    line-height: 1.38;
    margin: 0 0 16px;
    list-style: none;
    position: relative;
    @include tablet {
        font-size: 21px;
        line-height: 1.19;
    }

    &::before {
        content: '';
        border-radius: 50%;
        background: $yellow_color;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        top: 6px;
        @include tablet {
            top: 7px;
        }
    }
}

img {
    max-width: 100%;
}

button,
input,
textarea {
    &:focus {
        outline: none;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

.menu-opened {
    overflow: hidden;
    @include tablet {
        overflow: auto;
    }
}
