.form {
    background: $bright_color;
    border-radius: 20px;
    padding: 40px 14px 20px;
    color: $light_color;
    @include tablet {
        padding: 72px 110px;
        max-width: 1060px;
        box-sizing: border-box;
        margin: auto;
    }

    &_row {
        @include tablet {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        .button {
            width: 100%;
            @include tablet {
                width: auto;
            }
        }
    }
    &_row-item {
        position: relative;
        @include tablet {
            width: calc(50% - 5px);
        }
    }
    &_fieldset {
        border: none;
        padding: 0;
        margin: 0 0 20px;
        @include tablet {
            margin: 0 0 16px;
        }
    }
    &_clarification {
        opacity: 0.5;
        font-size: 14px;
        line-height: 1.43;
        color: $light_color;
        margin: 0;
        @include tablet {
            font-size: 17px;
            margin: 6px 0 0 18px;
        }
    }
    &_error {
        border-radius: 4px;
        background-color: #d91616;
        font-size: 13px;
        font-weight: 500;
        color: $light_color;
        padding: 8px 12px 7px;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
    }
}
